#app {
  .container {
    max-width: 900px;
    margin-top: 10vh;
    position: relative;
  }

  .nav {
    margin-top: 20px;
    border: none;
  }

  .tab-content {
    height: 300px;
    overflow-y: auto;
    padding: 0;
    border-top-left-radius: 0;
  }

  .config {
    mix-blend-mode: difference;
    background: none;
    color: white;
    border: none;
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    right: 15px;
    &:active,
    &:focus {
      outline: none;
    }
  }
}
