$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-qrcode: "\e938";
$icon-calculator: "\e940";
$icon-equalizer: "\e992";
$icon-google: "\e900";
$icon-todoist: "\e901";
$icon-twitter: "\e902";

